<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Log in</title>

		<link rel="stylesheet" href="global.css" />
		<link rel="stylesheet" href="index.css" />

		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
		<script src="index.js"></script>
	</head>
	<body id="log_in">
		<div class="box1">
			<div class="box2">
				<form>
					<p>Please Log In to Your Account</p>
					<input type="email" placeholder="Email" />
					<input type="password" placeholder="Password" />

					<input type="submit" value="Enter" />
				</form>
			</div>
		</div>
	</body>
</html>
