<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script
            src="https://kit.fontawesome.com/dfabc09165.js"
            crossorigin="anonymous"
        ></script>
        <script src="http://cdn.tailwindcss.com"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>
        <script src="/accounts.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="/global.css" />
        <style>
            * {
                font-family: "Roboto", sans-serif;
            }
            p,
            h1,
            h2 {
                font-size: larger;
                padding: 10px;
            }

            main ul > li > a {
                display: block;
                border-bottom: 3px solid#f95738;
            }
            main div > ul li > a {
                padding: 1.75rem;
            }
            table {
                margin: auto;
            }
            table th {
                padding: 10px;
                border-bottom: 1px solid black;
            }
            table td,
            table button {
                padding: 13px;
                text-align: center;
            }

            table button {
                color: white;
            }
            tr input {
                border: 1px solid black;
                padding: 10px;
                border-radius: 0.75rem;
            }
        </style>
    </head>
    <body>
        <header class="p-12 text-3xl shadow-md flex justify-between">
            <h1 class="text-[#ee964b ] text-[#f95738]">Serhant Construction</h1>
            <a href="/logout"
                ><span
                    ><i
                        class="fa-solid fa-right-to-bracket"
                        style="transform: rotate(180deg)"
                    ></i></span
            ></a>
        </header>
        <main>
            <div id="message"></div>
            <div class="flex">
                <!-- sidenav -->
                <div class="w-1/6 h-screen rounded-sm p-2">
                    <br />
                    <h1 class="italic">
                        <span
                            ><i class="fa-solid fa-table-columns"></i> Accounts
                            Dashboard</span
                        >
                    </h1>
                    <br />
                    <hr />
                    <ul>
                        <li>
                            <a href="#supervisor">Supervisors</a>
                        </li>
                        <li>
                            <a href="#employee">Employees</a>
                        </li>
                    </ul>
                </div>
                <!-- sidenav end -->
                <section>
                    <div
                        id="supervisor"
                        class="m-10 p-5 border-2 grid grid-flow-row gap-6"
                    >
                        <div class="col-span-3 rounded p-5 bg-[#F28145]">
                            <form id="form1" class="flex justify-around">
                                <div>
                                    <input
                                        type="text"
                                        name="supervisor_id"
                                        placeholder="Supervisor ID"
                                        class="p-2 rounded-md"
                                        required
                                    />
                                </div>

                                <button
                                    type="submit"
                                    value="submit"
                                    class="rounded-sm p-2 border text-white"
                                >
                                    Generate Salary Information
                                </button>
                            </form>
                        </div>
                        <div class="col-span-3">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Supervisor ID</th>
                                        <th>Employee ID</th>
                                        <th>Pay Cycle</th>
                                        <th>Hours</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody id="container"></tbody>
                            </table>
                        </div>
                    </div>
                    <div
                        id="employee"
                        class="m-10 p-5 grid grid-flow-row gap-6 border-2"
                    >
                        <div class="col-span-3 rounded p-5 bg-[#F28145]">
                            <form
                                id="form2"
                                class="flex justify-around items-center"
                            >
                                <div class="mx-2">
                                    <input
                                        type="text"
                                        name="employee_id"
                                        placeholder="Employee ID"
                                        class="p-1 rounded-md"
                                        required
                                    />
                                    <input
                                        type="date"
                                        name="pay_cycle"
                                        class="p-1 rounded-md"
                                        required
                                    />
                                </div>
                                <div class="flex gap-10">
                                    <button
                                        type="submit"
                                        value="submit"
                                        class="p-2 border text-white"
                                    >
                                        Generate Salary
                                    </button>
                                    <button
                                        onclick="payslip()"
                                        class="border text-white p-2"
                                    >
                                        Generate Payslip
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Supervisor ID</th>
                                        <th>Pay Cycle</th>
                                        <th>Hours</th>
                                        <th>Salary</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="container2"></tbody>
                            </table>
                            <div>
                                <div class="border p-10">
                                    <h1 class="text-center text-3xl">
                                        Serhant Construction
                                    </h1>
                                    <h2 class="text-right">
                                        Payslip for the period of June 2022
                                    </h2>
                                    <hr />
                                    <br />
                                    <div class="grid grid-flow-row gap-4">
                                        <div>Employee Name: <span id="employee_name"></span></div>
                                        <div>Employee ID: <span id="employee_id"></span></div>
                                        <hr />
                                        <br />
                                    </div>
                                    <table class="w-full">
                                        <thead>
                                            <tr>
                                                <th>Earnings</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Basic</td>
                                                <td>$<span id="basic_pay"></span></td>
                                            </tr>
                                            <tr>
                                                <td>OT Hours</td>
                                                <td><span id="overtime"></span></td>
                                            </tr>
                                            <tr>
                                                <td>OT Rate</td>
                                                <td>150%</td>
                                            </tr>
                                            <tr>
                                                <td>Total Salary</td>
                                                <td>$<span id="salary"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
        <footer class="h-80 bg-[#EE964B]"></footer>
    </body>
</html>
