<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="supervisorStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- admin sidebar starts here -->
    <div class="admin-sidebar">
        <h2 class="payrollName">Pay Roll</h2>
        <a href="#" class="adminHome"><i class='fas fa-user-alt'></i> Employees</a>
        <button class="salaryButton" data-salary-button>Salary Summary</button>  
    </div>
    <!-- admin sidebar ends here -->

    <!-- admin header section -->
 <div class="admin-main">
    
    <div class="admin-main-head">
        <h2 class="admin-main-person">Supervisor</h2>
        <div>
            <button class="logout"><a href="">Log Out</a></button>
        </div>
    </div>
    <!-- admin header section ends here -->

    <div class="admin-main-section">
        <!-- content goes here -->
        <div class="home">
            <table class=" table">
                <thead class="table-head">
                    <tr class="row">
                        <th scope="col">Employee Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Pay Cycle</th>
                        <th scope="col">Hours Worked</th>
                        <th scope="col">Event Type</th>
                    </tr>
                </thead>
                    
                <tr class="row">  
                    <td>24</td>
                    <td>January 12 , 2022</td>
                    <td>Something</td>
                    <td>72 hrs</td>
                    <td>
                        <a href="" class="edit">update</a>
                        <a href="" class="delete">remove</a>
                    </td>
                </tr>

                <tr class="row">            
                    <td>2</td>
                    <td>January 24 , 2022</td>
                    <td>Something</td>
                    <td>24 hrs</td>
                    <td>
                        <a href="" class="edit">update</a>
                        <a href="" class="delete">remove</a>
                    </td>
                </tr>                       
            </table>

        </div> 
        <!-- content ends here -->
    </div>

    <!-- possible modal design, if not scrap-->
    <div class="modal" data-summary-content>
        
        <div class="modal-content">
            <span class="close" data-close-summary>&times;</span>
			<h2>Employee Salary</h2>
		</div>

    </div>
    <!-- possible modal ends here -->
</body>
<script>
    let summaryButton = document.querySelector('[data-salary-button]');
    let summaryContent = document.querySelector('[data-summary-content]');
    let closeSummary = document.querySelector('[data-close-summary]');

    // button to display summary content
    summaryButton.addEventListener('click',()=>{
        summaryContent.style.display = 'block'
    })

    // close button for summary content
    closeSummary.addEventListener('click',()=>{
        summaryContent.style.display = 'none'
    });

    window.addEventListener('click',(e)=>{
        if (e.target == summaryContent) {
         summaryContent.style.display = "none";
  }
    })

</script>
</html>