:root {
	--primary: #f8fcda;
	--secondary: #ee964b;
	--tirtiary: #e3e9c2;
	--fortiry: #f9fbb2;
	--fifery: #f95738;
}

* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#emp_event {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: var(--primary);
}

#emp_event .login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	padding: 40px;
	transform: translate(-50%, -50%);
	background: var(--secondary);
	box-sizing: border-box;
	border-radius: 10px;
}

#emp_event .login-box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: var(--primary);
	text-align: center;
}

#emp_event .login-box .user-box {
	position: relative;
}

#emp_event .login-box .user-box input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: var(--primary);
	margin-bottom: 30px;
	border: none;
	border-bottom: var(--secondary);
	outline: none;
	background: transparent;
}

#emp_event .login-box .user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: var(--tirtiary);
	pointer-events: none;
	transition: 0.5s;
}

#emp_event .login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: var(--fortiry);
	font-size: 12px;
}

#emp_event .login-box form a {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: var(--fifery);
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition: 0.5s;
	margin-top: 40px;
	letter-spacing: 4px;
	border-radius: 5px;
	background: var(--fortiry);
}

#emp_event .login-box a:hover {
	background: var(--fifery);
	color: var(--primary);
	border-radius: 5px;
}

#emp_event .login-box a span {
	position: absolute;
	display: block;
}

#emp_event .login-box a span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, var(--primary));
	animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}

#emp_event .login-box a span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, var(--primary));
	animation: btn-anim2 1s linear infinite;
	animation-delay: 0.25s;
}

@keyframes btn-anim2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}

#emp_event .login-box a span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, var(--primary));
	animation: btn-anim3 1s linear infinite;
	animation-delay: 0.5s;
}

@keyframes btn-anim3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}

#emp_event .login-box a span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, var(--primary));
	animation: btn-anim4 1s linear infinite;
	animation-delay: 0.75s;
}

@keyframes btn-anim4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}

#emp_event input[type="date"]:valid {
	color: rgb(0, 0, 0);
}

#emp_event input[type="date"] {
	color: #e3e9c2 !important;
}

#emp_event input[type="date"]::selection {
	color: transparent;
}
