#profile {
	background: #f8fcda;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

#profile .cont1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#profile .cont2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 85%;
	height: 90%;
	padding: 1px 1px;
	border-radius: 8px;
	background-color: #ee964b;
	box-shadow: 10px 5px 8px rgba(0, 0, 0, 0.3);
}

#profile .box1 {
	justify-content: left;
	width: 40%;
	background: #9b5d2733;
	height: 90%;
	margin-left: 90px;
	border-radius: 8px;
}

#profile .box2 {
	display: flex;
	justify-content: space-between;
	width: 40%;
	height: 90%;
	margin-right: 90px;
	background: rgba(155, 93, 39, 0.2);
	border-radius: 8px;
}

#profile .icon_frame {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50%;
	width: 100%;
	border-radius: 8px 8px 0 0;
	background: #e3e9c2e2;
}

#profile .icon_frame > svg {
	color: #ee964b;
}

#profile .box1 .page_title {
	color: #e3e9c2;
	margin: 28px 0 0 21px;
	font-size: 28px;
	font-weight: 700;
}

#profile .box1 .lo_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#profile .box1 .lo_btn .out_btn {
	padding: 8px 12px;
	font-size: 22px;
	background: #f95738;
	border: none;
	color: #f8fcda;
	box-shadow: 1.5px 1.5px #c54329;
	cursor: pointer;
	border-radius: 5px;
}

#profile .box1 .lo_btn .out_btn:hover {
	background: #de4e31;
	border-radius: 5px;
}

#profile .box2 .text_field1 {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
	color: rgb(216, 64, 8);
}

#profile .box2 .text_field2 {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 60%;
	color: rgb(216, 64, 8);
}

#profile .box2 ul li {
	margin: 80px 0px;
	width: 90%;
	padding: 3px 3px;
	list-style-type: none;
	font-size: 18px;
	font-weight: 400;
}

#profile .box2 ul li:nth-of-type(1) {
	background: #f9fbb2;
	border-radius: 5px;
}
#profile .box2 ul li:nth-of-type(2) {
	background: #f9fbb2;
	border-radius: 5px;
}
#profile .box2 ul li:nth-of-type(3) {
	background: #f9fbb2;
	border-radius: 5px;
}
#profile .box2 ul li:nth-of-type(4) {
	background: #f9fbb2;
	border-radius: 5px;
}
