<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/profile.css" />

		<title>Employee Profile Page</title>
	</head>
	<body id="profile">
		<div class="cont1">
			<div class="cont2">
				<div class="box1">
					<!-- Frame area where picture of employee should be -->
					<div class="icon_frame">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="200"
							height="200"
							fill="currentColor"
							class="bi bi-person-fill"
							viewBox="0 0 16 16"
						>
							<path
								d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
							/>
						</svg>
					</div>

					<!-- Title area of the page -->
					<div class="page_title">
						<p>Employee</p>
						<p>Profile</p>
						<p>Information</p>
					</div>

					<!-- Log Out Button area -->
					<div class="lo_btn">
						<button class="out_btn" onclick="window.location.href = '/logout';">Log Out</button>
					</div>
				</div>
				<div class="box2">
					<div class="text_field1">
						<ul>
							<li>Full Name</li>
							<li>Department ID</li>
							<li>Position</li>
							<li>Current Pay</li>
						</ul>
					</div>
					<div class="text_field2">
						<ul>
							<li><%= name%></li>
							<li><%= department%></li>
							<li>Employee</li>
							<li><%= salary%></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
